<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exc.street.light.dlm.mapper.ControlEnergyMapper">

	<resultMap id="BaseResultMap" type="com.exc.street.light.resource.entity.dlm.ControlEnergy">
		<id column="id" property="id" />
		<id column="energy" property="energy" />
		<id column="control_id" property="controlId" />
		<id column="control_type_id" property="controlTypeId" />
		<id column="accumulation_energy" property="accumulationEnergy" />
		<id column="create_time" property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, energy, control_id, control_type_id, accumulation_energy, create_time
	</sql>
    <select id="getLastTimeEnergyByControlId"
            resultType="com.exc.street.light.resource.entity.dlm.ControlEnergy">
		SELECT * FROM control_energy  WHERE control_id = #{controlId} ORDER BY create_time DESC LIMIT 1
	</select>

</mapper>