<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exc.street.light.dlm.mapper.LocationSiteMapper">

	<resultMap id="BaseResultMap" type="com.exc.street.light.resource.entity.dlm.LocationSite">
		<id column="id" property="id" />
		<id column="name" property="name" />
		<id column="description" property="description" />
		<id column="street_id" property="streetId" />
		<id column="create_time" property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, description, street_id, create_time
	</sql>
	
</mapper>