<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exc.street.light.sl.mapper.DeviceUpgradeLogStatusMapper">

	<resultMap id="BaseResultMap" type="com.exc.street.light.resource.entity.sl.DeviceUpgradeLogStatus">
		<id column="id" property="id" />
		<id column="device_id" property="deviceId" />
		<id column="edition_old" property="editionOld" />
		<id column="is_success" property="isSuccess" />
		<id column="log_id" property="logId" />
	</resultMap>
	<sql id="Base_Column_List">
		id, device_id, edition_old, edition_new, is_success, log_id
	</sql>
	
</mapper>