<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exc.street.light.sl.mapper.LampGroupMapper">

	<resultMap id="BaseResultMap" type="com.exc.street.light.resource.entity.sl.LampGroup">
		<id column="id" property="id" />
		<id column="name" property="name" />
		<id column="description" property="description" />
		<id column="create_time" property="createTime" />
		<id column="creator" property="creator" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, description, create_time, creator
	</sql>
	
</mapper>