<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exc.street.light.sl.mapper.LampStrategyActionDeviceTypeMapper">

	<resultMap id="BaseResultMap" type="com.exc.street.light.resource.entity.sl.LampStrategyActionDeviceType">
		<id column="id" property="id" />
		<id column="lamp_strategy_action_id" property="lampStrategyActionId" />
		<id column="device_type_id" property="deviceTypeId" />
	</resultMap>
	<sql id="Base_Column_List">
		id, lamp_strategy_action_id, device_type_id
	</sql>
	
</mapper>