<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exc.street.light.ua.mapper.RolePermissionDao">

	<resultMap id="BaseResultMap" type="com.exc.street.light.resource.entity.ua.RolePermission">
		<id column="id" property="id" />
		<id column="role_id" property="roleId" />
		<id column="permission_id" property="permissionId" />
	</resultMap>
	<sql id="Base_Column_List">
		id, role_id, permission_id
	</sql>
	
</mapper>