<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exc.street.light.ir.mapper.ScreenSubtitleEmScreenMapper">

	<resultMap id="BaseResultMap" type="com.exc.street.light.resource.entity.ir.ScreenSubtitleEmScreen">
		<id column="id" property="id" />
		<id column="screen_subtitle_em_id" property="screenSubtitleEmId" />
		<id column="screen_device_id" property="screenDeviceId" />
	</resultMap>
	<sql id="Base_Column_List">
		id, screen_subtitle_em_id, screen_device_id
	</sql>
	
</mapper>