<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exc.street.light.ir.mapper.ScreenSubtitleEmMapper">

	<resultMap id="BaseResultMap" type="com.exc.street.light.resource.entity.ir.ScreenSubtitleEm">
		<id column="id" property="id" />
		<id column="area_id" property="areaId" />
		<id column="area_name" property="areaName" />
		<id column="resolving_power" property="resolvingPower" />
		<id column="em_device_id" property="emDeviceId" />
		<id column="em_data_field" property="emDataField" />
		<id column="num" property="num" />
		<id column="html" property="html" />
		<id column="step_interval" property="stepInterval" />
		<id column="step" property="step" />
		<id column="direction" property="direction" />
		<id column="align" property="align" />
		<id column="typeface_size" property="typefaceSize" />
		<id column="typeface_color" property="typefaceColor" />
		<id column="background_color" property="backgroundColor" />
		<id column="end_time" property="endTime" />
		<id column="create_time" property="createTime" />
		<id column="creator" property="creator" />
	</resultMap>
	<sql id="Base_Column_List">
		id, area_id, area_name, resolving_power, em_device_id, em_data_field, num, html, step_interval, step, direction, align, typeface_size, end_time, create_time, creator
	</sql>
	<select id="query" resultType="com.exc.street.light.resource.vo.resp.IrRespScreenSubtitleEmVO">
        SELECT sse.id id, sse.area_id areaId, sse.area_name areaName, sse.resolving_power resolvingPower,
        sse.create_time createTime, group_concat(slp.`name` separator '，') lampPostNames
        FROM screen_subtitle_em sse
        LEFT JOIN screen_subtitle_em_screen sses ON sse.id = sses.screen_subtitle_em_id
        LEFT JOIN screen_device sd ON sd.id = sses.screen_device_id
        LEFT JOIN sl_lamp_post slp ON sd.lamp_post_id = slp.id
        <where>
			<if test="irScreenSubtitleEmQuery.lampPostId != null">
				AND slp.id	= #{irScreenSubtitleEmQuery.lampPostId}
			</if>
			<if test="irScreenSubtitleEmQuery.lampPostName != null and irScreenSubtitleEmQuery.lampPostName != ''">
				AND slp.`name` LIKE CONCAT('%', #{irScreenSubtitleEmQuery.lampPostName}, '%')
			</if>
			<if test="irScreenSubtitleEmQuery.areaId != null">
				AND sse.area_id = #{irScreenDeviceQuery.areaId}
			</if>
		</where>
        GROUP BY sse.id
		ORDER BY sse.id DESC
	</select>

</mapper>