<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exc.street.light.ss.mapper.SsDeviceDao">

	<resultMap id="BaseResultMap" type="com.exc.street.light.resource.entity.ss.SsDevice">
		<id column="id" property="id" />
		<id column="model" property="model" />
		<id column="type" property="type" />
		<id column="ip" property="ip" />
		<id column="port" property="port" />
		<id column="factory" property="factory" />
		<id column="name" property="name" />
		<id column="num" property="num" />
		<id column="network_state" property="networkState" />
		<id column="create_time" property="createTime" />
		<id column="last_online_time" property="lastOnlineTime" />
		<id column="lamp_post_id" property="lampPostId" />
	</resultMap>
	<sql id="Base_Column_List">
		id, model, type, ip, port, factory, name, num, network_state, create_time, last_online_time, lamp_post_id
	</sql>
	
	<select id="selectPage" resultType="com.exc.street.light.resource.vo.SsDeviceVO">
		SELECT sd.id, sd.model,sd.type, sd.ip, sd.`port`, sd.factory, sd.`name`, sd.num
		,sd.network_state, sd.create_time, sd.last_online_time, sd.lamp_post_id
		,slp.`name`  AS lampPostName
		FROM ss_device AS sd 
		LEFT JOIN sl_lamp_post AS slp ON sd.lamp_post_id = slp.id
		left join location_site ls on ls.id = slp.site_id
		left join location_street lst on lst.id = ls.street_id
		left join location_area la on la.id = lst.area_id
		WHERE 1 = 1
		<if test="queryObject.name != null and queryObject.name != '' "> 
			AND sd.`name` LIKE concat('%',#{queryObject.name,jdbcType=VARCHAR},'%') 
		</if>
		<if test="queryObject.networkState != null"> 
			AND sd.network_state = #{queryObject.networkState} 
		</if>
		<if test="queryObject.areaId != null">
                AND la.id = #{queryObject.areaId}
        </if>
		ORDER BY sd.create_time DESC
	</select>
	
	<select id="selectById" parameterType="java.lang.Long" resultType="com.exc.street.light.resource.vo.SsDeviceVO">
		SELECT d.id, d.model,d.type, d.ip, d.`port`, d.factory, d.`name`, d.num
		,d.network_state, d.create_time, d.last_online_time, d.lamp_post_id
		,sl_lamp_post.`name`  AS lampPostName
		FROM ss_device AS d 
		LEFT JOIN sl_lamp_post ON sl_lamp_post.id = d.lamp_post_id
		WHERE d.id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectByIdWithApp" parameterType="java.lang.Long" resultType="com.exc.street.light.resource.vo.SsDeviceVO">
		SELECT
			location_area.`name` AS areaName, 
			location_site.`name` AS siteName, 
			location_street.`name` AS streetName, 
			sl_lamp_post.`name` AS lampPostName, 
			sl_lamp_post.location AS location,
			ss_device.type, 
			ss_device.num,
			ss_device.`name`, 
			ss_device.network_state
		FROM
			sl_lamp_post
			INNER JOIN
			location_site
			ON 
				sl_lamp_post.site_id = location_site.id
			INNER JOIN
			location_street
			ON 
				location_site.street_id = location_street.id
			INNER JOIN
			location_area
			ON 
				location_street.area_id = location_area.id
			INNER JOIN
			ss_device
			ON 
				ss_device.lamp_post_id = sl_lamp_post.id
		WHERE
			sl_lamp_post.id = #{id,jdbcType=BIGINT}
	</select>
	
</mapper>