<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exc.street.light.electricity.mapper.ComDeviceMapper">
    <resultMap id="BaseResultMap" type="com.exc.street.light.resource.entity.electricity.ComDevice">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="can_port" jdbcType="INTEGER" property="canPort"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="device_address" jdbcType="VARCHAR" property="deviceAddress"/>
        <result column="module_address" jdbcType="VARCHAR" property="moduleAddress"/>
        <result column="wait_time" jdbcType="INTEGER" property="waitTime"/>
        <result column="cycle_time" jdbcType="INTEGER" property="cycleTime"/>
        <result column="failure_value" jdbcType="INTEGER" property="failureValue"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="nid" jdbcType="INTEGER" property="nid"/>
    </resultMap>
    <delete id="deleteByNid">
        DELETE FROM com_device WHERE nid = #{nid}
    </delete>
    <select id="findByNidAndAddrAndCom" resultMap="BaseResultMap">
       SELECT id
       FROM com_device WHERE nid = #{nid} AND device_address = #{deviceAddress} AND can_port = #{canPort}
    </select>
</mapper>